.header-aside-tools {
  width: 100px;
  height: 32px;
  float: right;
  display: inline-block;
}
.header-aside-tools__button {
  float: left;
  width: 12px;
  height: 12px;
  background: no-repeat;
  color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  opacity: 0.75;
}
.header-aside-tools__button_add {
  background: url("../images/Plus.svg") no-repeat;
  margin: 10px 0;
}
.header-aside-tools__button_add:hover {
  opacity: 1;
}
.header-aside-tools__button_video-chat {
  height: 8px;
  background: url("../images/Video.svg") no-repeat;
  margin-top: 12px;
  margin-left: 14px;
}
.header-aside-tools__button_video-chat:hover {
  opacity: 1;
}
.header-aside-tools__button_options {
  background: url("../images/Cog.svg") no-repeat;
  margin-top: 10px;
  margin-left: 15px;
}
.header-aside-tools__button_options:hover {
  opacity: 1;
}
.header-aside-tools__button_close {
  width: 18px;
  height: 18px;
  background: url("../images/Close.svg") no-repeat;
  margin-top: 7px;
  margin-left: 9px;
}
.header-aside-tools__button_close:hover {
  opacity: 1;
}
