.chatbox {
  width: 292px;
  height: 384px;
  background-color: #ffffff;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.11);
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}
.chat-section {
  font-family: OpenSans, sans-serif;
  width: 100%;
  height: calc(289px);
  overflow: auto;
}
.chat-section__message-time {
  line-height: 14px;
  display: block;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.3px;
  text-align: center;
  color: #828282;
  clear: both;
  margin-bottom: 1px;
}
