.input-options {
  float: left;
  display: inline-block;
  margin-left: 16px;
  margin-top: 9px;
  width: 160px;
  height: 32px;
}
.input-options__button {
  float: left;
  width: 16px;
  height: 16px;
  background: no-repeat;
  color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  padding: 0;
}
.input-options__button_pictures {
  background: url("../images/Picture.svg") no-repeat;
}
.input-options__button_gifs {
  width: 21px;
  background: url("../images/Gif.svg") no-repeat;
}
.input-options__button_smiles {
  background: url("../images/Smile.svg") no-repeat;
}
.input-options__button_calendar {
  height: 18px;
  background: url("../images/Calendar.svg") no-repeat;
}
.input-options__button_camera {
  width: 21px;
  height: 17px;
  background: url("../images/Camera.svg") no-repeat;
}
