.message {
  font-family: OpenSans, sans-serif;
}
.message__user-photo {
  float: left;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  vertical-align: middle;
  cursor: pointer;
}
.message_friendly {
  float: left;
  clear: both;
  font-size: 12px;
  line-height: 17px;
  margin-left: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.message__friend-text {
  max-width: 72%;
  text-align: left;
  float: left;
  clear: right;
  background-color: #f3f3f3;
  color: #353535;
  border-radius: 15px;
  padding: 5px 12px 6px 12px;
  word-wrap: break-word;
  margin-left: 8px;
}
.message__friend-text_multiple-first {
  border-bottom-left-radius: 0;
  margin-bottom: 1px;
}
.message__friend-text_multiple-middle {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: 36px;
  margin-bottom: 1px;
  clear: left;
}
.message__friend-text_multiple-last {
  border-top-left-radius: 0;
  padding: 4px 12px 7px 12px;
  margin-left: 36px;
  clear: left;
}
.message_user {
  max-width: 58%;
  float: right;
  clear: both;
  font-size: 12px;
  line-height: 17px;
  margin-right: 16px;
  margin-top: 8px;
  margin-bottom: 9px;
}
.message__user-text {
  float: right;
  clear: both;
  color: #fff;
  padding: 5px 12px 6px 12px;
  box-sizing: border-box;
  word-wrap: break-word;
  background-color: #2979ff;
  border-radius: 14px;
}
.message__user-text_multiple-first {
  margin-bottom: 1px;
  padding: 5px 13px 6px 12px;
  border-bottom-right-radius: 0;
}
.message__user-text_multiple-middle {
  margin-bottom: 1px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.message__user-text_multiple-last {
  border-top-right-radius: 0;
}
.message__user-text_single {
  padding: 5px 12px 6px 12px;
}
.message_first-block {
  margin-top: 17px;
}
