.user-field {
  font-family: OpenSans, sans-serif;
  max-width: 58%;
  float: right;
  clear: both;
  font-size: 12px;
  line-height: 17px;
  margin-right: 16px;
  margin-top: 8px;
  margin-bottom: 9px;
}
.user-field__message {
  text-align: left;
  float: right;
  clear: both;
  color: #fff;
  padding: 5px 12px 6px 12px;
  box-sizing: border-box;
  word-wrap: break-word;
  background-color: #2979ff;
  border-radius: 14px;
}
.user-field__message_multiple-first {
  margin-bottom: 1px;
  padding: 5px 13px 6px 12px;
  border-bottom-right-radius: 0;
}
.user-field__message_multiple-middle {
  margin-bottom: 1px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.user-field__message_multiple-last {
  border-top-right-radius: 0;
}
.user-field__message_single {
  padding: 5px 12px 6px 12px;
}
